/*锟斤拷锟斤拷息*/
.MKBH53{
  background-image:url(../../Images/menuicon/MKBH53.gif);
  background-repeat:no-repeat;
}
/*锟斤拷锟�/
.MKBH50{
  background-image:url(../../Images/menuicon/MKBH50.gif);
  background-repeat:no-repeat;
}
.MKBH120000{
  background-image:url(../../Images/menuicon/MKBH120000.gif);
  background-repeat:no-repeat;
}
.MKBH22{
  background-image:url(../../Images/menuicon/MKBH120000.gif);
  background-repeat:no-repeat;
}
.MKBH170000{
  background-image:url(../../Images/menuicon/MKBH05.gif);
  background-repeat:no-repeat;
}
.MKBH180000{
  background-image:url(../../Images/menuicon/MKBH04.gif);
  background-repeat:no-repeat;
}
.MKBH190000{
  background-image:url(../../Images/menuicon/MKBH05.gif);
  background-repeat:no-repeat;
}
.MKBH200000{
  background-image:url(../../Images/menuicon/MKBH06.gif);
  background-repeat:no-repeat;
}
.MKBH09{
  background-image:url(../../Images/menuicon/MKBH07.gif);
  background-repeat:no-repeat;
}
.MKBH210000{
  background-image:url(../../Images/menuicon/MKBH08.gif);
  background-repeat:no-repeat;
}
.MKBH14{
  background-image:url(../../Images/menuicon/MKBH14.gif);
  background-repeat:no-repeat;
}
.MKBH160000{
  background-image:url(../../Images/menuicon/MKBH06.gif);
  background-repeat:no-repeat;
}
/*锟斤拷询*/
.MKBH71{
  background-image:url(../../Images/menuicon/MKBH71.gif);
  background-repeat:no-repeat;
}
/*统锟斤拷锟剿憋拷*/
.MKBH04{
  background-image:url(../../Images/menuicon/MKBH04.gif);
  background-repeat:no-repeat;
}
/* 锟斤拷同锟斤拷锟斤拷*/
.MKBH05{
  background-image:url(../../Images/menuicon/MKBH05.gif);
  background-repeat:no-repeat;
}
/* 支锟斤拷锟斤拷锟斤拷*/
.MKBH06{
  background-image:url(../../Images/menuicon/MKBH06.gif);
  background-repeat:no-repeat;
}
/* 锟绞诧拷锟斤拷锟斤拷*/
.MKBH08{
  background-image:url(../../Images/menuicon/MKBH08.gif);
  background-repeat:no-repeat;
}

/*系统维锟斤拷*/
.MKBH07{
  background-image:url(../../Images/menuicon/MKBH07.gif);
  background-repeat:no-repeat;
}
.x-tree-node-expanded  .x-tree-node-icon
{background-image: url(../../Images/menuicon/expanded1.gif)}      
.x-tree-node-collapsed .x-tree-node-icon
{
       background-image: url(../../Images/menuicon/collapsed1.gif)
   }  
.x-tree-node-leaf  .tree-icon 
{
    background-image: url(../../Images/menuicon/menu.gif)
}



.MKBH3ab8f27eff4f4309b991e4aa534d4589{
  background-image:url(../../common/DOC-CSS-IMG/99f0f1506cdc4db396670d2b8a6eefff.png);
  background-repeat:no-repeat;
}
.MKBH98ff3ca5657e46c58c302c139cebf324{
  background-image:url(../../common/DOC-CSS-IMG/98ff3ca5657e46c58c302c139cebf324.png);
  background-repeat:no-repeat;
}
.MKBHfe6c4dae1b674735a41e35c367090e60{
  background-image:url(../../common/DOC-CSS-IMG/fe6c4dae1b674735a41e35c367090e60.png);
  background-repeat:no-repeat;
}
.MKBHfa6b4ee071b240a9bff8a6c632c8ac69{
  background-image:url(../../common/DOC-CSS-IMG/375c2ca2c38d4ba3bf9b83094dc4b59c.png);
  background-repeat:no-repeat;
}
.MKBH614cce6cd1664b5db3b7383ca526604b{
  background-image:url(../../common/DOC-CSS-IMG/614cce6cd1664b5db3b7383ca526604b.png);
  background-repeat:no-repeat;
}
.MKBHf0bdb534c743440ba4fb239813bf486b{
  background-image:url(../../common/DOC-CSS-IMG/f0bdb534c743440ba4fb239813bf486b.png);
  background-repeat:no-repeat;
}
.MKBH770783caeab946869bacf0cb8f3b9a90{
  background-image:url(../../common/DOC-CSS-IMG/202c4648377747118971664103c5a02d.png);
  background-repeat:no-repeat;
}
.MKBH54bad4e286304d688d2b119c2189ead9{
  background-image:url(../../common/DOC-CSS-IMG/54bad4e286304d688d2b119c2189ead9.png);
  background-repeat:no-repeat;
}
.MKBH79455ca395004edcb4cbc43bf5445017{
  background-image:url(../../common/DOC-CSS-IMG/79455ca395004edcb4cbc43bf5445017.png);
  background-repeat:no-repeat;
}
.MKBHaa5e6b7423304d5e80ca792e879ba2e4{
  background-image:url(../../common/DOC-CSS-IMG/aa5e6b7423304d5e80ca792e879ba2e4.png);
  background-repeat:no-repeat;
}
.MKBHa710a49db7524559a8f18539c0a833cf{
  background-image:url(../../common/DOC-CSS-IMG/f879f49f1d704a7ca60a7f8ced4de8cd.png);
  background-repeat:no-repeat;
}
.MKBH5b5a79ed2a804534847dee66462ba7e6{
  background-image:url(../../common/DOC-CSS-IMG/f879f49f1d704a7ca60a7f8ced4de8cd.png);
  background-repeat:no-repeat;
}
.MKBH2104e9fe319a496c9715507665c9a2fe{
  background-image:url(../../common/DOC-CSS-IMG/2104e9fe319a496c9715507665c9a2fe.png);
  background-repeat:no-repeat;
}
.MKBHc97019eac122473783234d5327e99623{
  background-image:url(../../common/DOC-CSS-IMG/6a5c783ff42e407ab36d7751b5794295.png);
  background-repeat:no-repeat;
}
/* .MKBH3ab8f27eff4f4309b991e4aa534d4589{ */
/*   background-image:url(../../common/DOC-CSS-IMG/3ab8f27eff4f4309b991e4aa534d4589.png); */
/*   background-repeat:no-repeat; */
/* } */

.MKBH0543c872cf69423b9b542a799d3ab2b8{
  background-image:url(../../common/DOC-CSS-IMG/2104e9fe319a496c9715507665c9a2fe.png);
  background-repeat:no-repeat;
}
.MKBH21c17f4cd8f24809a27bfbb24850888f{
  background-image:url(../../common/DOC-CSS-IMG/21c17f4cd8f24809a27bfbb24850888f.png);
  background-repeat:no-repeat;
}